name: Staging Deploy

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.OCI_HOST }}
          username: ${{ secrets.OCI_USER }}
          key: ${{ secrets.OCI_SSH_KEY }}
          script: |
            set -e
            cd /home/ubuntu/expense_tracker
            git fetch origin
            git checkout staging
            git reset --hard origin/staging
            docker compose down
            docker compose up -d --build


